* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #0e121b;
  color: aliceblue;
  height: 100svh;
}
.container {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  align-content: center;
}
ul {
  list-style: none;
  display: grid;
  place-items: center;
  gap: 0.5em;
}
ul li {
  width: 100%;
  display: grid;
  place-items: center;

  grid-template-columns: 1fr 1fr 1fr;
}
ul li span {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}
.city {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  background-color: #1a1a1a;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.circle {
  width: 400px;
  height: 400px;
  position: relative;
}
.iftar-name {
  color: #41abff;
}
.next-prayer__name {
  color: #67f1d8;
}
.text {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  text-align: center;
}
.text h3 {
  font-size: clamp(1.5em, 2.5vw, 1.55em);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 0.2em;
}
svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  position: absolute;
}

.first {
  position: relative;
  stroke-dasharray: 942.096;
  stroke-dashoffset: 942.096;
  transition: stroke-dashoffset 1s cubic-bezier(0.4, 0, 1, 1);
  stroke-linecap: round;
}
.third {
  stroke-dasharray: 847.887;
  stroke-dashoffset: 847.887;
  transition: stroke-dashoffset 1s cubic-bezier(0.4, 0, 1, 1);
  stroke-linecap: round;
}
.second {
  transition: stroke-dashoffset 1s ease;
  stroke-linecap: round;
}
.date-wrapper {
  display: grid;
  place-items: center;
  gap: 0.5em;
}
.date-wrapper div {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}
.iftar-wrapper {
  visibility: hidden;
}
.date {
  font-size: 1em;
  font-weight: bold;
  color: #c8c8c8;
}
.time {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
}
.iftar {
  margin-bottom: 1em;
}
